{% extends 'base.html.twig' %}

{% block title %}Hello PlayController!
{% endblock %}

{% block body %}
	<link rel="stylesheet" href="{{ asset('styles/play.css') }}">
	<div class="game-wrapper {% if winner %}finish{% endif %}">
		<div class="game-board">
			<div class="discard">
				<ul>
					{% for card in discard|slice(-6) %}
						<li>
							<div class="card" id="card-{{ card.getId() }}" {% if card.getAngle() %}style="transform: rotate({{ card.getAngle() }}deg)"{% endif %}>
								<div class="card-inner">
									<div class="card-front">
										<img class="card-img" src="{{ asset(card.getImg()) }}" alt="">
									</div>
									<div class="card-back"></div>
								</div>
							</div>
						</li>
					{% endfor %}
				</ul>
				{% if accumulation > 0 %}
					<div class="accumulation">
						<p class="accumuation-counter">+{{ accumulation }}</p>
						<div class="arrow-container {% if turn.getId() === 0 %}bottom{% elseif turn.getId() === 1 %}left{% elseif turn.getId() === 3 %}right{% endif %}">
							<div class="arrow"></div>
						</div>
					</div>
				{% endif %}
			</div>
			{% set playable = false %}
			{% for card in players[0].getCards() %}
					{% if topDiscardCard.getNumber() === 12 %}
						{% if topDiscardCard.getNumber() == card.getNumber()%}
								{% set playable = true %}
						{% endif %}
					{% else %}
						{% if topDiscardCard.getNumber() == card.getNumber()
								or topDiscardCard.getColor() == card.getColor() %}
								{% set playable = true %}
						{% endif %}
					{% endif %}
			{% endfor %}
			{% if players[0].getCards()|length == 0 %}
					{% set noPlayable = false %}
			{% endif %}
			<div class="deck {% if turn.getPlayerType() === 'user' and cardPicked === false %}{{ not playable ? 'must-pick' }} can-hover{% endif %}">
				<div class="side1"></div>
				<button class="top" id="deck">
					<div>
						<p>{{ deck|length }}</p>
					</div>
				</button>
				<div class="side2"></div>
			</div>
			<div class="sens-information sens-{% if sens === -1 %}inverse{% else %}normal{% endif %}"></div>
		</div>
		<div class="game-players">
			<ul class="all-players">
				<li class="player-area" id="user-area">
					<div class="infos {% if turn.getId() === players[0].getId() and winner === null %}actual-turn{% endif %}">
						<div class="player-identity">
							<p>{{ players[0].getName() }}</p>
							<img src="" alt="">
						</div>
						<div class="cards-counter">
							<p>{{ players[0].getCards()|length }}</p>
						</div>
					</div>
					<ul class="player-cards user-cards">
						{% for card in players[0].getCards() %}
							<li>
								<button class="user-card
								{% if turn.getPlayerType() === 'user' and winner === null %}
									{% if accumulation > 0 %}
										{% if topDiscardCard.getNumber() === 12 and topDiscardCard.getNumber() === card.getNumber() %}
											can-play user-card-not-played
										{% endif %}
									{% else %}
										{% if topDiscardCard.getNumber() === card.getNumber() or topDiscardCard.getColor() === card.getColor() %}
											can-play user-card-not-played
										{% endif %}
									{% endif %}
								{% endif %}">
									<div class="card" id="card-{{ card.getId() }}">
										<div class="card-inner">
											<div class="card-front">
												<img class="card-img" src="{{ asset(card.getImg()) }}" alt="">
											</div>
											<div class="card-back"></div>
										</div>
									</div>
								</button>
							</li>
						{% endfor %}
					</ul>
				</li>
				<li class="player-area enemy-area" id="enemy1-area">
					<div class="infos {% if turn.getId() === players[1].getId() and winner === null %}actual-turn{% endif %}">
						<div class="player-identity">
							<p>{{ players[1].getName() }}</p>
							<img src="" alt="">
						</div>
						<div class="cards-counter">
							<p>{{ players[1].getCards()|length }}</p>
						</div>
					</div>
					<ul class="player-cards enemy-cards" id="enemy-cards1">
						{% for card in players[1].getCards() %}
							<li>
								<div class="card" id="card-{{ card.getId() }}">
									<div class="card-inner">
										<div class="card-front">
											<img class="card-img" src="{{ asset(card.getImg()) }}" alt="">
										</div>
										<div class="card-back"></div>
									</div>
								</div>
							</li>
						{% endfor %}
					</ul>
				</li>
				<li class="player-area enemy-area" id="enemy2-area">
					<div class="infos {% if turn.getId() === players[2].getId() and winner === null %}actual-turn{% endif %}">
						<div class="player-identity">
							<p>{{ players[2].getName() }}</p>
							<img src="" alt="">
						</div>
						<div class="cards-counter">
							<p>{{ players[2].getCards()|length }}</p>
						</div>
					</div>
					<ul class="player-cards enemy-cards" id="enemy-cards2">
						{% for card in players[2].getCards() %}
							<li>
								<div class="card" id="card-{{ card.getId() }}">
									<div class="card-inner">
										<div class="card-front">
											<img class="card-img" src="{{ asset(card.getImg()) }}" alt="">
										</div>
										<div class="card-back"></div>
									</div>
								</div>
							</li>
						{% endfor %}
					</ul>
				</li>
				<li class="player-area enemy-area" id="enemy3-area">
					<div class="infos {% if turn.getId() === players[3].getId() and winner === null %}actual-turn{% endif %}">
						<div class="player-identity">
							<p>{{ players[3].getName() }}</p>
							<img src="" alt="">
						</div>
						<div class="cards-counter">
							<p>{{ players[3].getCards()|length }}</p>
						</div>
					</div>
					<ul class="player-cards enemy-cards" id="enemy-cards3">
						{% for card in players[3].getCards() %}
							<li>
								<div class="card" id="card-{{ card.getId() }}">
									<div class="card-inner">
										<div class="card-front">
											<img class="card-img" src="{{ asset(card.getImg()) }}" alt="">
										</div>
										<div class="card-back"></div>
									</div>
								</div>
							</li>
						{% endfor %}
					</ul>
				</li>
			</ul>
		</div>
		<div class="game-animation-container">
			<div class="card-container"></div>
		</div>
		<div class="game-hud">
			<h1>Play</h1>
			<a href="{{ path('start_index')}}" class="button">Reset</a>
			<a href="{{ path('home_index')}}" class="button">Back menu</a>
		</div>
	</div>
<div id="game-data" 
	data-winner="{{ winner ? winner.getId() : 'null' }}" 
	data-turn-player-type="{{ turn.getPlayerType()|e('js') }}" 
	data-turn-id="{{ turn.getId() }}" data-card-picked="{{ cardPicked|json_encode }}" 
	data-enemy-card-played="{{ enemyCardPlayed ? enemyCardPlayed.getId() : 'null' }}" 
	data-card-angle="{{ cardAngle ? cardAngle : 0 }}" 
	data-user-base-url="{{ turn.getPlayerType() === 'user' ? path('user_index', {'cardId': 100, 'cardAngle': 10}) : '' }}" 
	data-enemy-base-url="{{ turn.getPlayerType() === 'enemy' ? path('enemy_index', {'enemyId': turn.getId(), 'cardAngle': 10}) : '' }}" 
	data-end-base-url="{{ path('end_index') }}" 
	data-deck-base-url="{{ path('deck_index', {'playerId': turn.getId(), 'cardAngle': cardAngle}) }}">
</div>
<script src="{{ asset('scripts/play.js') }}"></script>
{% endblock %}
