{% extends 'base.html.twig' %}

{% block title %}Hello PlayController!
{% endblock %}

{% block body %}
	<link rel="stylesheet" href="{{ asset('styles/play.css') }}">
	<div class="game-wrapper {% if winner %}finish{% endif %}">
		<div class="game-board">
			<div class="discard">
				<ul>
					{% for card in discard|slice(-6) %}
						<li>
							<div class="card" id="card-{{ card.getId() }}" {% if card.getAngle() %}style="transform: rotate({{ card.getAngle() }}deg)"{% endif %}>
								<div class="card-inner">
									<div class="card-front">
										<img class="card-img" src="{{ asset(card.getImg()) }}" alt="">
									</div>
									<div class="card-back"></div>
								</div>
							</div>
						</li>
					{% endfor %}
				</ul>
				{% if accumulation > 0 %}
					<div class="accumulation {% if topDiscardCard.getColor() === 'red' %}red{% elseif topDiscardCard.getColor() === 'blue' %}blue{% elseif topDiscardCard.getColor() === 'green' %}green{% else %}yellow{% endif %}">
						<p class="accumuation-counter">+{{ accumulation }}</p>
						<div class="arrow-container {% if turn.getId() === 0 %}bottom{% elseif turn.getId() === 1 %}left{% elseif turn.getId() === 3 %}right{% endif %}">
							<div class="arrow"></div>
						</div>
					</div>
				{% endif %}
			</div>
			{% set playable = false %}
			{% for card in players[0].getCards() %}
					{% if topDiscardCard.getNumber() === 12 %}
						{% if topDiscardCard.getNumber() == card.getNumber()%}
								{% set playable = true %}
						{% endif %}
					{% else %}
						{% if topDiscardCard.getNumber() == card.getNumber()
								or topDiscardCard.getColor() == card.getColor() %}
								{% set playable = true %}
						{% endif %}
					{% endif %}
			{% endfor %}
			{% if players[0].getCards()|length == 0 %}
					{% set noPlayable = false %}
			{% endif %}
			<div class="deck {% if turn.getPlayerType() === 'user' and cardPicked === false %}{{ not playable ? 'must-pick' }} can-hover{% endif %}">
				<div class="side1"></div>
				<button class="top" id="deck">
					<div>
						<p>{{ deck|length }}</p>
					</div>
				</button>
				<div class="side2"></div>
			</div>
			<div class="sens-information">
				{% if sens === -1 %}
					<div>
						<svg xmlns="http://www.w3.org/2000/svg" width="327" height="327" fill="none" viewBox="0 0 327 327">
							<path fill="#fff" fill-rule="evenodd" d="M164 311q51-1 89-30l-21-4 44-18q34-40 35-95A148 148 0 0 0 73 47l22 4-46 19q-31 39-33 94c0 81 66 147 148 147m104 2 17-40q41-45 42-109A163 163 0 0 0 63 35l-4-20-16 38Q1 98 0 164a163 163 0 0 0 264 128z" clip-rule="evenodd"/>
						</svg>
					</div>
				{% else %}
					<div>
						<svg xmlns="http://www.w3.org/2000/svg" width="327" height="327" fill="none" viewBox="0 0 327 327">
							<path fill="#fff" d="M327 164q-1-66-43-111l-16-38-4 20Q222 1 164 0A163 163 0 0 0 42 273l17 40 4-21q43 34 101 35c90 0 163-73 163-163m-49-94q32 39 33 94A148 148 0 0 1 74 281l21-4-44-18q-34-40-35-95A148 148 0 0 1 254 47l-22 4z"/>
						</svg>
					</div>
				{% endif %}
				
			</div>
		</div>
		<div class="game-players">
			<ul class="all-players">
				<li class="player-area" id="user-area">
					<div class="infos {% if turn.getId() === players[0].getId() and winner === null %}actual-turn{% endif %}">
						<div class="player-identity">
							<p>{{ players[0].getName() }}</p>
							<img src="{{ asset(players[0].getImg()) }}" alt="">
						</div>
						<div class="cards-counter">
							<p>{{ players[0].getCards()|length }}</p>
						</div>
					</div>
					<ul class="player-cards user-cards">
						{% for card in players[0].getCards() %}
							<li>
								<button class="user-card
								{% if turn.getPlayerType() === 'user' and winner === null %}
									{% if accumulation > 0 %}
										{% if topDiscardCard.getNumber() === 12 and topDiscardCard.getNumber() === card.getNumber() %}
											can-play user-card-not-played
										{% endif %}
									{% else %}
										{% if topDiscardCard.getNumber() === card.getNumber() or topDiscardCard.getColor() === card.getColor() %}
											can-play user-card-not-played
										{% endif %}
									{% endif %}
								{% endif %}">
									<div class="card" id="card-{{ card.getId() }}">
										<div class="card-inner">
											<div class="card-front">
												<img class="card-img" src="{{ asset(card.getImg()) }}" alt="">
											</div>
											<div class="card-back"></div>
										</div>
									</div>
								</button>
							</li>
						{% endfor %}
					</ul>
				</li>
				<li class="player-area enemy-area" id="enemy1-area">
					<div class="infos {% if turn.getId() === players[1].getId() and winner === null %}actual-turn{% endif %}">
						<div class="player-identity">
							<p>{{ players[1].getName() }}</p>
							<img src="{{ asset(players[1].getImg()) }}" alt="">
						</div>
						<div class="cards-counter">
							<p>{{ players[1].getCards()|length }}</p>
						</div>
					</div>
					<ul class="player-cards enemy-cards" id="enemy-cards1">
						{% for card in players[1].getCards() %}
							<li>
								<div class="card" id="card-{{ card.getId() }}">
									<div class="card-inner">
										<div class="card-front">
											<img class="card-img" src="{{ asset(card.getImg()) }}" alt="">
										</div>
										<div class="card-back"></div>
									</div>
								</div>
							</li>
						{% endfor %}
					</ul>
				</li>
				<li class="player-area enemy-area" id="enemy2-area">
					<div class="infos {% if turn.getId() === players[2].getId() and winner === null %}actual-turn{% endif %}">
						<div class="player-identity">
							<p>{{ players[2].getName() }}</p>
							<img src="{{ asset(players[2].getImg()) }}" alt="">
						</div>
						<div class="cards-counter">
							<p>{{ players[2].getCards()|length }}</p>
						</div>
					</div>
					<ul class="player-cards enemy-cards" id="enemy-cards2">
						{% for card in players[2].getCards() %}
							<li>
								<div class="card" id="card-{{ card.getId() }}">
									<div class="card-inner">
										<div class="card-front">
											<img class="card-img" src="{{ asset(card.getImg()) }}" alt="">
										</div>
										<div class="card-back"></div>
									</div>
								</div>
							</li>
						{% endfor %}
					</ul>
				</li>
				<li class="player-area enemy-area" id="enemy3-area">
					<div class="infos {% if turn.getId() === players[3].getId() and winner === null %}actual-turn{% endif %}">
						<div class="player-identity">
							<p>{{ players[3].getName() }}</p>
							<img src="{{ asset(players[3].getImg()) }}" alt="">
						</div>
						<div class="cards-counter">
							<p>{{ players[3].getCards()|length }}</p>
						</div>
					</div>
					<ul class="player-cards enemy-cards" id="enemy-cards3">
						{% for card in players[3].getCards() %}
							<li>
								<div class="card" id="card-{{ card.getId() }}">
									<div class="card-inner">
										<div class="card-front">
											<img class="card-img" src="{{ asset(card.getImg()) }}" alt="">
										</div>
										<div class="card-back"></div>
									</div>
								</div>
							</li>
						{% endfor %}
					</ul>
				</li>
			</ul>
		</div>
		<div class="game-animation-container">
			<div class="card-container"></div>
		</div>
		<div class="game-hud">
			<p class="info-turn">Tour de <strong>{{ turn.getName() }}</strong></p>
			<div class="buttons">
				<a href="{{ path('start_index')}}" class="button">
					<svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="none" viewBox="0 0 414 414"><path fill="#fff" fill-rule="evenodd" d="m43 178-3 29" clip-rule="evenodd"/><path fill="#fff" d="M411 244A207 207 0 0 0 78 45l5-20Q87 9 71 1h-2l-2-1c-9-1-19 4-22 13l-1 2-17 65c-3 11 3 22 14 25l65 18a20 20 0 0 0 11-39l-17-5a167 167 0 0 1 274 128l-3 30a20 20 0 0 0 32 20q6-6 8-13"/><path fill="#fff" fill-rule="evenodd" d="M40 207a167 167 0 0 0 274 128l-17-5a20 20 0 0 1 11-39l65 18q16 6 15 23l-1 2-17 65a20 20 0 0 1-39-10l5-20A207 207 0 0 1 3 170l1-2q1-6 7-11t18-3q16 6 14 23v4c-2 8-3 14-3 26" clip-rule="evenodd"/></svg>
				</a>
				<a href="{{ path('home_index')}}" class="button">
					<svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="none" viewBox="0 0 700 700"><path fill="#fff" d="M0 300v450h250V550a100 100 0 1 1 200 0v200h250V300L350 0z"/></svg>
				</a>
			</div>
		</div>
	</div>
{# Transmission des données dynamiques twig pour le fichier .js #}
<div id="game-data" 
	data-winner="{{ winner ? winner.getId() : 'null' }}" 
	data-turn-player-type="{{ turn.getPlayerType()|e('js') }}" 
	data-turn-id="{{ turn.getId() }}" data-card-picked="{{ cardPicked|json_encode }}" 
	data-enemy-card-played="{{ enemyCardPlayed ? enemyCardPlayed.getId() : 'null' }}" 
	data-card-angle="{{ cardAngle ? cardAngle : 0 }}" 
	data-user-base-url="{{ turn.getPlayerType() === 'user' ? path('user_index', {'cardId': 100, 'cardAngle': 10}) : '' }}" 
	data-enemy-base-url="{{ turn.getPlayerType() === 'enemy' ? path('enemy_index', {'enemyId': turn.getId(), 'cardAngle': 10}) : '' }}" 
	data-end-base-url="{{ path('end_index') }}" 
	data-deck-base-url="{{ path('deck_index', {'playerId': turn.getId(), 'cardAngle': cardAngle}) }}">
</div>
{# Préchargement des images pour éviter qu'elles saccadent #}
<script>
	const images = [
		{% for color in ['red','yellow','blue','green'] %}
			{% for i in 0..12 %}
			"{{ asset('images/cards/' ~ color ~ '_' ~ i ~ '.webp') }}",
			{% endfor %}
		{% endfor %}

		{% set players = [
        'lucas',
        'emma',
        'noah',
        'lea',
        'hugo',
        'jade',
        'louis',
        'chloe',
        'nathan',
        'manon',
        'enzo',
        'camille',
        'gabriel',
        'sarah',
        'mathis'
    ] %}

		{% for player in players %}
        "{{ asset('images/players/' ~ player ~ '.webp') }}",
    {% endfor %}
	];

	images.forEach(src => {
			const img = new Image();
			img.src = src;
	});
</script>
<script src="{{ asset('scripts/play.js') }}"></script>
{% endblock %}
