{% extends 'base.html.twig' %}

{% block title %}Hello WinController!
{% endblock %}

{% block body %}
	<link rel="stylesheet" href="{{ asset('styles/end.css') }}">
	<div class="end-wrapper">
		<div class="end-button">
			<a href="{{ path('start_index')}}" class="button">
				Lancer une nouvelle partie
			</a>
			<a href="{{ path('home_index')}}" class="button">
				Revenir à l'accueil
			</a>
		</div>
		<h1>Victoire de
			{{ winner.getName() }}</h1>
		<div class="leader-boards">
			<div class="actual-leader-board">
				<h2>Classement de la partie</h2>
				<ul>
					{% for player in actualRoundLeaderBoard %}
						<li>
							<p>{{ player.name }}
								-
								{{ player.score }}
								points</p>
						</li>
					{% endfor %}
				</ul>
			</div>
			<div class="global-leader-board">
				<h2>Classement global</h2>
				<ul>
					{% for player in globalLeaderBoard %}
						<li class="{% if player.id === winner.getId() %}winner{% endif %}">
							<div class="player">
								<img src="{{ asset(player.img) }}" alt="">
								<p>{{ player.name }}</p>
							</div>
							<p class="score">{{ player.score }}
								pts</p>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>

	</div>
	 <script>
						    if (window.clearPlayTimeouts) {
						        window.clearPlayTimeouts();
						    }
						</script>
{% endblock %}
